@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

nav {    
    min-height: 7vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: 2rem;
    background-color: #263F5E;
    color: #F3F9FF;
    align-items: center;    
    letter-spacing: 1.3px;
    position: fixed;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

li a,
h2 a {
    text-decoration: none;
    color: #F3F9FF;
}

li a {
    font-size: 1rem;
}

h2 a {
    font-size: 2rem;
}

:target::before {
    content: "";
    display: block;
    width: 100vw;
    height: 13vh;
    margin: -7vh 0 0 0;
}

header {
    height: 100vh;    
    display: flex;
    flex-flow: column wrap;
    justify-content: center;    
    color: #03161B;
    letter-spacing: 1.3px;
    text-align: center;
}

header abbr {
    text-decoration: none;    
}

section {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

section h2 {
    padding: 1rem;
    letter-spacing: 1.3px;
}

section div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 916px;
    flex-wrap: wrap;
    gap: 1rem;       
    text-align: center;
}

#gallery img {    
    width: 280px;  
    height: 290px;  
}

#about {
    padding-inline: 1rem;
}

#about p,
#about img {
    min-width: 200px;
    max-width: 400px;
}

#about p {
    text-align: justify;
}

#about img {
    display: flex;
    flex-shrink: 1;
}

#contact {
    padding: 1rem;
}

#contact form {    
    max-width: 916px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 2rem;
    gap: .7rem;
    border-radius: 10px;
}

form input,
form textarea {
    padding: 10px;
    width: 100%;
    border: 1px solid #333;
    border-radius: 10px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

form button,
form button:visited {    
    width: 200px;
    padding: .7rem;
    background: #fff;
    border: 1px solid #333;
    border-radius: 10px;
    cursor: pointer;
}

form button:hover,
form button:focus {
    border: 1px solid #fff;
    background: #333;
    color: #fff;
}
footer {
    padding: 1rem;
    text-align: center;
    color: #03161B;
}
