@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* nav {
    min-height: 7vh;
    background: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding-inline: 2rem;
    align-items: center;
    letter-spacing: 1.3px;
    position: fixed;
    width: 100%;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

li a,
li a:visited {
    text-decoration: none;
    color: #fff;    
}

li a:hover,
li a:focus {
    color: hsla(0, 0%, 100%, 0.95);    
}
 */


/* article {
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

article {
    max-width: 900px;
    margin-inline: auto;
}

article h2 {
    padding: 1rem;
}

#gallery section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

#gallery img {
    max-width: 290px;
    height: 290px;
}

#about section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

#about img {
    max-width: 400px;
}

#about p{
    max-width: 400px;
    text-align: justify;
}

form input,
form textarea {
    padding-left: .3rem;
}


} */

nav {    
    min-height: 7vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: 2rem;
    background-color: #263F5E;
    color: #F3F9FF;
    align-items: center;
    font-size: 1.3rem;
    letter-spacing: 1.3px;
    position: fixed;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

li a,
h2 a {
    text-decoration: none;
    color: #F3F9FF;
}

:target::before {
    content: "";
    display: block;
    height: 13vh;
    margin-top: -7vh;
}

header {
    height: 100vh;    
    display: flex;
    flex-flow: column wrap;
    justify-content: center;    
    color: #03161B;
    letter-spacing: 1.3px;
    text-align: center;
}

header abbr {
    text-decoration: none;    
}

section {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

section h2 {
    padding: 1rem;
    letter-spacing: 1.3px;
}

section div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 916px;
    flex-wrap: wrap;
    gap: 1rem;   
    padding: 1rem;
}
#gallery img {    
    width: 280px;  
    height: 290px;  
}

#about p,
#about img {
    max-width: 400px;
}

#about p {
    text-align: justify;
}

#about img {
    display: flex;
    flex-shrink: 1;
}

#contact form {
    min-width: 400px;
    max-width: 916px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 2rem;
    gap: .7rem;
    border-radius: 10px;
    margin: 1rem;
}

form input,
form textarea {
    padding: 10px;
    width: 400px;
    border: 1px solid #333;
    border-radius: 10px;
}

.buttons {
    text-align: center;
}

form button,
form button:visited {    
    width: 200px;
    padding: .7rem;
    background: #fff;
    border: 1px solid #333;
    border-radius: 10px;
    cursor: pointer;
}

form button:hover,
form button:focus {
    border: 1px solid #fff;
    background: #333;
    color: #fff;
}
footer {
    padding: 1rem;
    text-align: center;
    color: #03161B;
}